<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rohan.tipmonkey" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TipMonkey</name>
    <description>
        An simple app that helps you pay only for what you ate!
    </description>
    <author email="rohanluktuke@gmail.com" href="">
        Rohan Luktuke
    </author>
    <content src="tipCalc.html" />
    <access origin="*" />
</widget>
